{
  "rules": {
    "arrow-body-style": ["off"],
    "max-len": ["error", {"code": 999, "tabWidth": 2}],
    "no-lonely-if": ["off"],
    "no-param-reassign": ["error", {"props": false}],
    "no-underscore-dangle": ["off"],
    "object-curly-newline": ["off"],
    "object-curly-spacing": ["error", "never"]
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ]
}