{
  "rules": {
    "arrow-body-style": ["error", "as-needed", {"requireReturnForObjectLiteral": true}],
    "arrow-parens": ["error", "always"],
    "max-len": ["error", {"code": 999, "tabWidth": 2}],
    "no-param-reassign": ["error", {"props": false}],
    "object-curly-newline": ["error", {"consistent": true}],
    "object-curly-spacing": ["error", "never"],
    "strict": ["error", "safe"]
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ]
}
